<!--DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>FlaskBlog</title>
</head>
<body>
   <h1>Welcome to FlaskBlog</h1>
</body>
</html-->

<!DOCTYPE html>

<html>
	<head>
	<link  rel = "stylesheet" href = "{{ url_for('static', filename= 'css/style.css') }}">
	</head>

	<body>
		<img class="smart_choice-png-1"  align="left" src="files/imgs/smart_choice.png">
		<div style="height: 269px; overflow: hidden;">
			<svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
			<path d="M0.00,92.27 C216.83,192.92 304.30,8.39 500.00,109.03 L500.00,0.00 L0.00,0.00 Z" style="stroke: none;  display:inline-block; fill: #ffa382;"></path>
			</svg>
		</div>

		<center>
		<div class="search">
  			<a class="active" href="#home">Your Location</a>
  			<a href="#restaurant">Restaurant</a>
  			<a href="#order">Order</a>
  			<input type="text" placeholder="Search..">
			<button type="submit">Submit</button>
		</div>
		</center>

		<img class="how-to-start-a-food-delivery-business-png-1" src="files/imgs/How-to-start-a-food-delivery-business.png" align="left">
		<br><br>
	        <img class="burger-webp-1" src="files/imgs/Burger.jpg" align="right">





	</body>
</html>